extends layout

block content
	h1 About
	br
	.profile
		.profile-container
			img(src='/images/cat.gif', alt='cat', id='cat')
		.profile-container
			h3 Program
			p New York Code and Design Academy
			p JavaScript Web Intensive
			h3 Enrollment
			p September - December 2017
			h3 Location
			p Amsterdam, The Netherlands