extends layout

block content
	h1 Library Application
	br
	a(href='/addbook') Add Book to the Library
	br
	a(href='/books') Browse Library
	br
	br
	img(src='/images/library.gif', alt='library', id='library')
	//- .slidecontainer
	//- 	img.mySlides(src='/images/libraryhall.jpg')
	//- 	img.mySlides(src='/images/bookshelves.jpg')
	//- 	img.mySlides(src='/images/books.jpg')
	//- 	img.mySlides(src='/images/glamlibrary.jpg')
	//- 	img.mySlides(src='/images/bookcloseup.jpg')
	//- br

	//- script.
	//- 	var myIndex = 0;
	//- 	carousel();
	//- 	function carousel() {
	//- 	var i;
	//- 	var x = document.getElementsByClassName("mySlides");
	//- 	for (i = 0; i < x.length; i++) {
	//- 	x[i].style.display = "none";
	//- 	}
	//- 	myIndex++;
	//- 	if (myIndex > x.length) {myIndex = 1}
	//- 	x[myIndex-1].style.display = "block";
	//- 	setTimeout(carousel, 2000);
	//- 	}